<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oj.dalpolinoj.mapper.ContextMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oj.dalpolinoj.domin.Context">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="owner_id" property="ownerId" />
        <result column="describtion" property="describtion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, begin_time, end_time, owner_id, describtion
    </sql>

</mapper>
